@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');

:root {
    --background-color: background: linear-gradient(45deg, rgba(227, 69, 219, 1) 0%, rgba(247, 151, 16, 1) 100%);
    --main-color: #FFFFFF;
    --on-main-color: #FFFFFF;
    --button-color: #e4e4e4;
    --button-color-hover: #c4c4c4;
    --text-color: black;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
}

form {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/svgexport-61.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}

canvas {
    width: 100%;
    height: 100%;
}

.header {    position: relative;
    width: 100%;
    height: 100%;
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: background-color .2s ease-in-out;
    user-select: none;
    cursor: pointer;
}

.header-select {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.header-account {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.header-button:hover {
    background-color: var(--button-color-hover);
}

.boutique-title {
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 5vw;
    line-height: 4.5vw;
    word-break: break-word;
}

.footer {
    width: 100%;
    height: 40vh;
    flex-shrink: 0;
    background-color: black;
    color: white;
}

.content {
    width: 70%;
    flex-shrink: 0;
    height: 90vh;
    display: flex;
}

.detail {
    width: 70%;
    flex-shrink: 0;
    height: 40vh;
    display: flex;
}

.boutique {
    gap: 4%;
}

.box-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.box-right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.know-more-button {
    width: 20%;
}

.title {
    font-weight: 700;
    font-size: 5vw;
    line-height: 4.5vw;
    word-break: break-word;
}

.title-detail {
    font-weight: 700;
    font-size: 2.3vw;
    line-height: 2.5vw;
    word-break: break-word;
}

.sub-title {
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 2.5vw;
    word-break: break-word;
}

.sub-title-detail {
    font-weight: 300;
    font-size: 1.8vw;
    line-height: 2vw;
    word-break: break-word;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.button {
    border-radius: 10px;
    background: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.connect {
    height: 25%;
    aspect-ratio: 3/1;
}

.button:hover {
    background-color: var(--button-color-hover);
}


input[type="file"] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="mail"] {
    all: unset;
    position: relative;
    background-color: aliceblue;
    border: 3px solid aliceblue;
    padding: 5px;
    padding-left: 5px;
    border-radius: 7px;
    width: 85%;
    height: 20%;
    box-sizing: border-box;
    color: var(--text-color);
    transition: border .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="mail"]:focus {
    border: 3px solid #ff8d22;
}

input[type="date"] {
    all: unset;
    background-color: aliceblue;
    border: 3px solid aliceblue;
    padding: 5px;
    border-radius: 7px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.box {
    width: 30%;
    padding: 2%;
    gap: 15px;
    border-radius: 15px;
    background-color: var(--on-main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
}

.box-boutique {
    width: 100%;
    text-align: center;
    padding: 5%;
    gap: 5px;
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--on-main-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
    transition: transform .1s ease-in-out;
}

.box-boutique:hover {
    transform: scale(1.03);
}

.wrap-x {
    display: flex;
    align-items: center;
    width: 85%;
    height: 20%;
    justify-content: space-between;
}

.title-form {
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 4.5vw;
    word-break: break-word;
}

.image-log {
    max-width: 50%;
    max-height: 50%;
}

.img-boutique {
    max-width: 60%;
    max-height: 60%;
}


.graph-container {
    width: 100%;
    height: 100%;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.graph-container-top {
    width: 100%;
    height: 60%;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.graph-container-bot {
    width: 100%;
    height: 40%;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.graph-container-in {
    background-color: white;
    width: 100% !important;
    height: 100% !important;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
    border-radius: 10px;
}

.graph-demande {
    width: 50%;
    height: 25%;
    padding-top: 50px;
    gap: 15px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;


}

.graph-import {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: #ff8d22 dashed 10px;
    box-sizing: border-box;
}




.exemple-pattern-css {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.exemple-pattern-css input:invalid{
	
    border:1px solid red;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    transform: translate3d(0, 0, 0)
        }
        
    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
    
    .exemple-pattern-css span{
        
    opacity:0; 
    visibility:hidden;
        
        }
        
    .exemple-pattern-css input:invalid ~ span { 
        
    display:flex;
    color:red; 
    transition:.4s opacity linear
        
        }
        
    .exemple-pattern-css input:invalid ~ span {
        
        visibility:visible;
        opacity:1
        
        }
    